:root {
  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);
  --neutral-dblue: hsl(234, 12%, 34%);
  --neutral-gblue: hsl(229, 6%, 66%);
  --neutral-lgray: hsl(0, 0%, 98%);
  --alpha: 0.8;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* global rules rules */
body {
  font-family: "Poppins";
  font-size: 15px;
  background-color: var(--neutral-lgray);
  --webkit-font-smoothing: antialiased;
}
.mainbox {
  background-color: #fff;
  box-shadow: 0 8px 15px var(--neutral-gblue);
  margin: 20px;
  width: 310px;
  height: 210px;
  border-radius: 5px;
}
.headtext {
  font-weight: 600;
  font-size: 1.3rem;
}
.maintext {
  font-weight: 200;
  font-size: 0.8rem;
}
.image {
  position: absolute;
  right: -5%;
  bottom: -90%;
}

/* global rules-end */
header {
  margin: auto;
  margin-bottom: 30px;
  width: 37%;
  text-align: center;
}
header .container {
  padding-top: 30px;
}
.header-1 {
  font-weight: 200;
  font-size: 2rem;
  color: var(--neutral-gblue);
}
.header-2 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--neutral-dblue);
}
.tagline {
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--neutral-gblue);
}
.content-container {
  width: 60%;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}
.supervisor {
  margin-top: 140px;
}
.calculator {
  margin-top: 140px;
}
.box-content {
  width: 80%;
  margin: auto;
  padding-top: 30px;
  position: relative;
}
.supervisor {
  border-top: 5px solid var(--primary-color-cyan);
}
.teambuilder {
  border-top: 5px solid var(--primary-color-red);
  margin-bottom: 40px;
}
.karma {
  border-top: 5px solid var(--primary-color-orange);
}
.calculator {
  border-top: 5px solid var(--primary-color-blue);
}
